<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
    <link rel="stylesheet" href="{{url_for( 'static', filename='style.css' )}}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="{{url_for( 'static', filename='KAWACH.png' )}}" type="image/x-icon">

</head>
<body class="bg-gradient-to-r from-cyan-500 to-blue-500 bg-blend-multiply grid place-content-center h-screen">
<div class="p-6 mx-auto max-w-md  mt-4 bg-white rounded-xl shadow-lg flex space-x-4">
    <div id = "container" class="text-2xl font-medium text-black">
        <h1 class="text-center">It's a {{ output }} URL</h1>
        <form action="/">
            <input type="submit" value="Home" class="text-sm mx-32 my-2 bg-gray-500 rounded-lg p-2 cursor-pointer">
        </form>
    </div>
</div>


</body>
</html>

